<div class="flex justify-center items-center w-full font-sans h-100 bg-teal-lightest">
	<div class="p-6 m-4 w-full bg-white rounded shadow lg:w-3/4 lg:max-w-lg">
        <div class="mb-4">
            <h1 class="text-grey-darkest">Todo List</h1>
            <div class="flex mt-4">
                <input class="px-3 py-2 mr-4 w-full rounded border shadow appearance-none text-grey-darker" placeholder="Add Todo">
                <button class="p-2 rounded border-2 flex-no-shrink text-teal border-teal hover:text-white hover:bg-teal">Add</button>
            </div>
        </div>
        <app-todo-list></app-todo-list>
    </div>
</div>